NODE_ENV=    # use 'production' or 'development'
PORT=        # server port  (5000)
CLIENT_URL=  # client url (http://localhost:5173)
PGURL=       # postgres url (postgres://username:password@host:port/database)
JWT_SECRET_KEY=           # jwt secret (random string)
NODEMAILER_EMAIL=         # email to send otp from
NODEMAILER_PASSWORD=      # email password

# admin credentials
ADMIN_EMAIL=               # admin email
ADMIN_PASSWORD=            # admin password
